body {
	font-family: sans-serif;
}

.header {
	background-color: #50f;
	color: white;
	padding: 10px;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
}

.main {
	min-height: 500px;
	width: 80%;
}

.main h2 {
	width: 100%;
}

.upcoming {
	min-height: 400px;
}

.items-list {
	display: flex;
	flex-wrap: wrap;
}

.item {
	border: solid 2px black;
	border-radius: 10px;
	box-sizing: border-box;
	height: 150px;
	margin: 20px;
	padding: 20px;
	position: relative;
	width: 240px;
}

.item.priority::before {
	background-color: orange;
	content: "PRIORITY";
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 10px;
	position: absolute;
	right: -15px;
	top: 10px;
	transform: rotate(40deg);
}

.item.same-day::before {
	background-color: red;
	content: "SAME DAY";
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 10px;
	position: absolute;
	right: -15px;
	top: 10px;
	transform: rotate(40deg);
}

.item button {
	margin-top: 20px;
}

.itemname {
	font-weight: bold;
}

.form-area {
	align-content: flex-start;
	border-left: solid 10px #666;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
	width: 20%;
}

.form-area h2 {
	text-align: center;
	width: 100%;
}

.add-item-form, .select-dev-form {
	width: 200px;
}

.add-item-form input {
	padding: 5px;
}

.add-item-form select, .select-dev-form select {
	padding: 5px;
	width: 183px;
}

.add-item-form button, .select-dev-form button {
	background-color: #36c996;
	color: white;
	margin-top: 20px;
	padding: 5px;
}

button.completed {
	display: none;
}

.select-dev-form button {
	background-color: #50f;
}

.highlight-form-area {
	margin-top: 60px;
}

.highlight {
	border: solid 5px #50f;
}